body {
  background: #282828;
    color: #FFB000;
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
    text-rendering: optimizeLegibility;
    --webkit-font-smoothing: antialiased;
    font-family: 'B612', sans-serif;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
}

title{
font-size: 64px;
}

.p{
  font-size: 50rem;
}
a{
  font-size: 1.5em;
  color: #FFB000;
  text-decoration: none;
  
}

@media (max-width:800px){
  title{
    flex-direction: column;
  }
  a{
    font-size: 1em;
  }
}